
# Python artifacts
__pycache__/
*.py[cod]
*.pyd

# Environment + Secrets
.env
.env.*
!.env.example

# Databases
*.sqlite3
*.db
db.sqlite3

# Logs and temp files
*.log
*.tmp
*.swp

# macOS and editor metadata
.DS_Store
.vscode/

# Local virtual environment
a3cp-env/
