{# components/_two_column_text_w_photo.html #}
{# Expects:
headline (str)
body_html (safe html string) -> pass with {% set body_html %}...{% endset %}
img_src (str)
img_alt (str)
caption (str, optional)
reverse (bool, optional) -> if true, image left, text right
#}

<section class="two-col-photo">
    <div class="two-col-photo-inner {% if reverse %}two-col-photo-reverse{% endif %}">
        <div class="two-col-photo-text">
            <h2 class="two-col-photo-title">{{ headline }}</h2>
            <div class="two-col-photo-body">
                {{ body_html | safe }}
            </div>
        </div>

        <figure class="two-col-photo-figure">
            <img class="two-col-photo-img" src="{{ img_src }}" alt="{{ img_alt }}">
            {% if caption %}
            <figcaption class="two-col-photo-caption">{{ caption }}</figcaption>
            {% endif %}
        </figure>
    </div>
</section>
